body{
    background-color: var(--white-color);
}
/* --------------------
Dashboard header begin
----------------------*/
.dashboard-header{
    position: fixed;
    min-height: 40px;
    background-color: var(--white-color);

    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.dashboard-header--container{
    padding: 2px;
    margin: 0 auto;
    background-color: var(--white-color);
}
.dashboard-header .dashboard-header--item{
    display: inline-block;
}
.dashboard-header .logo{
    padding: 8px 24px;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;

    transition: all 0.3s ease;
    --webkit-transition: all 0.3s ease;
}
.dashboard-header .logo:hover{
    border: 2px solid var(--boder-color);
}
.dashboard-header .logo a{
    color: var(--text-black-700);
    font-size: 28px;
    font-weight: 500;
}
.dashboard-header .logo a span{
    margin-right: 3px;
}
.dashboard-header .user-avata{
    width: 44px;
    height: 44px;
    margin: 0 5px 0 20px;

    border-radius: 50%;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}
.dashboard-header .user-avata:hover{
    cursor: pointer;
    border: 4px solid var(--boder-color);
}
.dashboard-header .user-avata img{
    width: 100%;
    border-radius: 50%;
}
/* Dashboard header end*/

/* --------------------
Dashboard templates begin
----------------------*/
.dashboard-templates{
    margin-top: 62px;
    min-height: 50px;
    padding: 8px;
    padding-bottom: 16px;
    background-color: var(--bg-black-50);
} 
.dashboard-templates--container{
    padding: 8px;
}
.dashboard-templates .dashboard-templates--nav-text{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-black-700);
    margin: 0 0 0 8px;
}
.dashboard-templates .dashboard-templates--hide-btn{
    text-align: center;
    width: 30px;
    height: 30px;

    position: relative;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.dashboard-templates .dashboard-templates--hide-btn:hover{
    background-color: var(--text-black-300);
    cursor: pointer;
}
.dashboard-templates .dashboard-templates--hide-btn:hover::before{
    font-size: 12px;
    content: 'Hide/Show templates';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 113%;
    left: -95px;
}
.dashboard-templates .dashboard-templates--hide-btn i {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 30px;
}
.dashboard--create-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease;

    border-radius: 4px;
    padding: 2px;
    border: 1px solid var(--boder-color);
    cursor: pointer;
    margin: 0 16px 7px 0;
}
.dashboard--create-form:hover{
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}
.dashboard--create-form .create-form--box{
    width: 140px;
    height: 112px;
    text-align: center;
    margin-bottom: 8px;
}
.dashboard--create-form .create-form--box i{
    font-size: 50px;
    color: var(--text-black-300);
    line-height: 140px;
}
.dashboard--create-form p{
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-black-600);
}
.dashboard-templates .dashboard-templates--items{
    transition: all 0.3s ease;
}
.dashboard-templates .dashboard-templates--items.hide{
    display: none;
    transition: fadeOut 0.3s ease-in;
}
.dashboard-templates .dashboard-templates--items.show{
    display: block;
    transition: fadeIn 0.3s ease-in;
}
.dashboard-templates .template-item{
    display: inline-flex;
    flex-direction: column;
    max-width: 140px;
    margin: 0 7px;
    word-break: break-word;

    transition: all 0.3s ease;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid var(--boder-color);
}
.dashboard-templates .template-item:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}
.dashboard-templates .template-item img{
    max-width: 100%;
    border-radius: 4px;
    padding: 4px;
}
.dashboard-templates .template-item p{
    margin: 4px 0 4px 4px;
    font-size: 14px;
    font-weight: bolder;
    color: var(--text-black-600);
}
/* Dashboard templates end*/

/* -----------------------
Dashboard User's Form begin
------------------------*/
.dashboard-userForm{
    margin-bottom: 64px;
}
.dashboard-userForm--container{
    background-color: var(--white-color);
}
.dashboard-userForm .dashboard-userForm--text{
    padding: 20px;
}
.dashboard-userForm .dashboard-userForm--text h4{
    font-weight: 600;
}
.userForm-item--container{
    padding: 2px;
    border: 1px solid var(--boder-color);
    margin: 10px;

    border-radius: 2px;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease;
}
.userForm-item--container:hover{
    box-shadow: none;
}
.userForm-item--img{
    width: 200px;
    border-bottom: 1px solid var(--boder-color);
}
.userForm-item--img img{
    width: 100%;
    border-radius: 2px;
    padding: 4px 4px 16px 4px;
}
.userForm-item--deatails{
    padding: 16px 8px 14px 16px;
}
.userForm-item--deatails input{
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.15px;
    color: var(--text-black-700);
    font-weight: 600; 
    margin: 0 0 3px 0;
}
.userForm-item--nav{
    padding: 2px 0;
}
.userForm-item--nav span{
    color: var(--skin-color);
    cursor: text;
}
.userForm-item--nav button{
    cursor: pointer;
    margin-left: 100px;
}

/* Dashboard User's Form end */
