/* --------------
    Form-Header
--------------- */
.form-header{
    position: fixed;
    min-height: 40px;
    background-color: var(--white-color);

    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.form-header--container{
    padding: 8px;
    margin: 0 auto;
    background-color: var(--white-color);
}
.form-header .form-header--item{
    display: inline-block;
}
.form-header .logo{
    padding: 8px 24px;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;

    transition: all 0.3s ease;
    --webkit-transition: all 0.3s ease;
}
.form-header .logo:hover{
    border: 2px solid var(--boder-color);
}
.form-header .logo a{
    color: var(--text-black-700);
    font-size: 28px;
    font-weight: 500;
}
.form-header .logo a span{
    margin-right: 3px;
} 
.form-header .form-title{
    position: relative;
    margin-left: 12px;
}
.form-header .form-title::before{
    content: '';
    position: absolute;
    bottom: -4px;

    height: 4px;
    width: 100%;
    border-radius: 3px;
    background-color: var(--boder-color);
}
.form-header .form-title h3{
    font-size: 18px;
    color: var(--text-black-600);
}
.form-header .btn-send{
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid var(--boder-color);
    cursor: pointer;

    transition: all 0.3s ease;
    --webkit-transition: all 0.3s ease;
}
.form-header .btn-send a{
    font-size: 16px;
    color: var(--text-black-700);
}
.form-header .btn-send::after{
    border-radius: 4px;
}
.form-header .user-avata{
    width: 40px;
    height: 40px;
    margin: 0 5px 0 20px;

    border-radius: 50%;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}
.form-header .user-avata:hover{
    cursor: pointer;
    border: 3px solid var(--boder-color);
}
.form-header .user-avata img{
    width: 100%;
    border-radius: 50%;
}
.form-header .form-content--views{
    margin-top: 8px;
}
.form-header .view--options .view--options-item{
    position: relative;
    display: inline-block;
    padding: 4px 16px;

    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form-header .view--options .view--options-item.active{
    border-bottom: 3px solid var(--boder-color);
}
.form-header .view--options .view--options-item span{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-black-600);
}
.form-header .view--options .view--question{
    margin-right: 4px;
}
.form-header .view--options .view--response{
    margin-left: 4px;
}
/* ---------------------
    Form-body Questions
----------------------- */
.form-body{
    padding-top: 124px;
    min-height:calc(100vh - 124px);
}
.form-body .form-body--questions{
    position: relative;
    padding: 0 10px;
}
/* Form-body-navigation begin */
.form-body .form-body--questions .form-question--nav{
    position: absolute;
    right: -50px;
    top: 20%;

    text-align: center;
    min-height: 40px;
    width: 40px;

    cursor: pointer;
    border-radius: 4px;
    background-color: var(--bg-black-50);
}
.form-body .form-body--questions .form-question--nav i{
    line-height: 40px;
    font-size: 16px;
    color: var(--text-black-700);
}
.add-personal-info{
    position: relative;
}
.add-personal-info:hover::after{
    font-size: 12px;
    content: 'Pesonal info';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 20%;
    right: -80px;
}
.add-title{
    position: relative;
}
.add-title:hover::after{
    font-size: 12px;
    content: 'Title';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 24%;
    right: -38px;
}
.add-input{
    position: relative;
}
.add-input:hover::after{
    font-size: 12px;
    content: 'Input';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 24%;
    right: -42px;
}
.add-checkbox{
    position: relative;
}
.add-checkbox:hover::after{
    font-size: 12px;
    content: 'Radio with Description';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 24%;
    right: -134px;
}
.add-checkbox-descript{
    position: relative;
}
.add-checkbox-descript:hover::after{
    font-size: 12px;
    content: 'Checkbox with Description';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 24%;
    right: -158px;
}
.add-checkbox-advancedOptions{
    position: relative;
}
.add-checkbox-advancedOptions:hover::after{
    font-size: 12px;
    content: 'Advanced options';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 23%;
    right: -110px;
}
.add-description{
    position: relative;
}
.add-description:hover::after{
    font-size: 12px;
    content: 'Add description';
    color: var(--bg-black-50);

    display: block;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--text-black-700);

    position: absolute;
    top: 23%;
    right: -98px;
}
/* Form-body-navigation end */
.form-body .form-question--container{
    min-height: calc(100vh - 120px);
    background-color: var(--bg-black-50);
}
.form-body .form-question--title{
    background-color: var(--white-color);
    padding: 15px 24px;
    border-radius: 5px;
    border-top: 8px solid #3f51b5;
    border-left: 6px solid #4285f4;
}
.form-body .form--title{
    border: var(--boder-color);
    display: block;
    min-height: 50px;
    width: 100%;

    font-size: 34px;
    resize: none;
    background-color: transparent;
    margin-bottom: 4px;
}
.form-body .form--sub-title{
    border: none;
    display: block;
    width: 100%;

    margin-top: 4px;
    resize: none;
    background-color: transparent;
    padding: 8px 4px;
}
.form-body .form-question--body{
    margin-top: 12px;
    margin-bottom: 64px;
    background-color: var(--white-color);
    padding: 15px 0px;
    border-radius: 5px;
    border-left: 6px solid #4285f4;
}